set timeout=15
set default=0

menuentry 'NP750XQA recovery Linux (read-only first mount)' {
    search --no-floppy --fs-uuid --set=root c2bc9dc2-bdf2-4d87-9225-7c0b6d44a52e
    echo 'Loading Linux and recovery initramfs...'
    linux /boot/Image-np750xqa root=UUID=c2bc9dc2-bdf2-4d87-9225-7c0b6d44a52e ro rootwait console=tty0 efi=debug loglevel=8 ignore_loglevel drm.debug=0x1ff systemd.unit=multi-user.target
    initrd /boot/initramfs-np750xqa.img
    echo 'Loading the NP750XQA device tree...'
    devicetree /boot/x1p42100-samsung-galaxy-book4-edge.dtb
}

menuentry 'NP750XQA previous kernel (display disabled)' {
    search --no-floppy --fs-uuid --set=root c2bc9dc2-bdf2-4d87-9225-7c0b6d44a52e
    echo 'Loading the previous kernel and recovery initramfs...'
    linux /boot/Image-np750xqa.firstboot root=UUID=c2bc9dc2-bdf2-4d87-9225-7c0b6d44a52e ro rootwait console=tty0 efi=debug loglevel=8 ignore_loglevel systemd.unit=multi-user.target
    initrd /boot/initramfs-np750xqa.img.firstboot
    echo 'Loading the previous NP750XQA device tree...'
    devicetree /boot/x1p42100-samsung-galaxy-book4-edge.dtb.firstboot
}

menuentry 'Power off' {
    halt
}

menuentry 'Reboot' {
    reboot
}
